.spacex-header{
    font-size: 25px;
    font-weight: 800;
    background-color: #63659f;
    height: 70px;
    line-height: 70px;
    color: white;
}
.spacex-header::first-letter{
    font-size: 35px;
}
.spacex-header-icon i{
    zoom: 1.5;
}

